src/main/mule/implementations/account-trust.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule 
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation=" 
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/batch 
		http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

    <flow name="process-account">

        <!-- ********************************************
             Get existing accounts in Salesforce
             ******************************************** -->
        <!-- <logger level="INFO" category="app" message="#[output application/java - 'Starting the account creation process']" /> -->
        <set-payload doc:name="restore payload" value="#[vars.originalPayload]"/>	
        <flow-ref doc:name="query account" name="query-account"/>

        <set-variable doc:name="save account ids" variableName="listAccountIds" value="#[vars.listIds]"/>
        <set-payload doc:name="restore payload" value="#[vars.originalPayload]"/>
        <flow-ref doc:name="query contact" name="query-contact"/>
          
        <ee:transform doc:name="build Salesforce payload for trust account" >
            <ee:variables >
                <ee:set-variable variableName="payloadWithIds"><![CDATA[%dw 2.0
                    output application/java
                    ---
                    vars.originalPayload map (item, index) -> {
                        'Id' : (vars.listAccountIds filter ( $.account == item.account )).id[0],
                        'Name': item.account,
                        'IIM_Account_Number__c' : item.account,
                        'Beneficiary__c': (vars.listIds filter ( $.contactId == item.contactId )).id[0],
                        'Agency_Code__c': item.agencyCode,
                        'Agency__c': item.agencyDescription,
                        'Region_Code__c': item.regionCode,
                        'Region__c': item.regionDescription,
                        'Tribe_Code__c': item.tribeCode,
                        'Tribe_Description__c': item.tribeDescription,
                        'Tier_Level_Code__c': item.tierLevelCode as String,
                        'Tier_Level__c': item.tierLevelDescription,
                        'Freeze_Code__c': item.freezeCode,
                        'Freeze__c': item.freezeDescription,
                        'Type_Code__c': item.typeCode,
                        'Type__c': item.typeDescription,
                        'Category_Code__c': item.categoryCode,
                        'Category__c': item.categoryDescription
                    }
                    ]]>
                </ee:set-variable>
            </ee:variables >
        </ee:transform>

        <!-- <logger level="DEBUG" category="app" message="#[output application/json - payload]" /> -->

        <!-- ***********************************************
            Discover the records to create in TrustAccount
            *********************************************** -->
        <ee:transform doc:name="get the records to create" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
                    output application/java
                    ---
                    vars.payloadWithIds filter (isEmpty($.Id) )
                    ]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>

        <!-- <logger level="DEBUG" category="app" message="#[output application/json - payload]" /> -->

        <choice doc:name="Choice" >
            <when expression='#[ sizeOf(payload) > 0 ]'>

                <logger level="INFO" category="app" message="#['Records to create in Trust_Account__c: ' ++ sizeOf(payload) as String]" />

                <!-- *****************************************
                     Create AccountPerson Object in Salesforce 

                     Remove the null Id field in the records
                     ***************************************** -->
                <ee:transform doc:name="remove null ids" >
                    <ee:message >
                        <ee:set-payload ><![CDATA[%dw 2.0
                            output application/java
                            ---
                            payload map (items, index) -> (
                                items filterObject (value, key) -> value != null
                            )
                            ]]>
                        </ee:set-payload>
                    </ee:message>
                </ee:transform>

                <!-- <logger level="DEBUG" category="app" message="#[output application/json - payload]" /> -->
                <set-variable doc:name="set Salesforce object" variableName="salesforceObject" value="Trust_Account__c" />
                <set-variable doc:name="set operation" variableName="bulkOperation" value="insert"/>
                <flow-ref doc:name="run job" name="job-bulk"/>        
            </when>

        </choice>               


        <!-- *********************************************
            Get the records to update in Trust_Account__c
            ********************************************** -->
        <ee:transform doc:name="get the records to update Trust_Account__c" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
                output application/java
                ---
                vars.payloadWithIds filter ( $.Id != null )
                ]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>

        <!-- <logger level="DEBUG" category="app" message="#[output application/json - payload]" /> -->

        <choice doc:name="Choice" >
            <when expression='#[ sizeOf(payload) > 0 ]'>

                <logger level="INFO" category="app" message="#['Records to update in Trust_Account__c: ' ++ sizeOf(payload) as String]" />

                <set-variable doc:name="set Salesforce object" variableName="salesforceObject" value="Trust_Account__c" />
                <set-variable doc:name="set operation" variableName="bulkOperation" value="update"/>
                <flow-ref doc:name="run job" name="job-bulk"/>

            </when>
        </choice>

        <error-handler ref="global-error-handler" />
    </flow>
</mule>
