src/main/mule/implementations/account.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule 
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation=" 
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/batch 
		http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

    <flow name="endpoint-account">

        <flow-ref doc:name="initialize batch" name="initialize-batch"/>

        <!-- Look for all IIM_Account_Number__c keys to determine if the which input records will be create or update-->
        <flow-ref doc:name="query account" name="query-account"/>

        <set-variable doc:name="save account ids" variableName="listAccountIds" value="#[vars.listIds]"/>
          
        <ee:transform doc:name="build Salesforce payload for trust account" >
            <ee:variables >
            
                <ee:set-variable variableName="payloadWithIds"><![CDATA[%dw 2.0
                    output application/java
                    ---
                    vars.originalPayload map (item, index) -> {
                        'Id' : (vars.listAccountIds filter ( $.account == item.account )).id[0],
                        'Beneficiary__r.SSOT_Contact_ID__c': item.contactId,
                        'Name':                     item.account,
						'Customer_Short_Name__c':	item.CustomerShortName,
                        'IIM_Account_Number__c':    item.account,
                        'Last_4_Digits_of_Trust_Account_Number__c': item.account[sizeOf(item.account) -4 to -1],
                        'Tier_Level_Code__c': 	    if (!isEmpty(item.tierLevelCode)) item.tierLevelCode else "#N/A",
                        'Tier_Level__c': 		    if (!isEmpty(item.tierLevelDescription)) item.tierLevelDescription else "#N/A",
                        'Freeze_Code__c': 		    if (!isEmpty(item.freezeCode)) item.freezeCode else "#N/A",
                        'Freeze__c': 			    if (!isEmpty(item.freezeDescription)) item.freezeDescription else "#N/A",
                        'Type_Code__c': 		    item.typeCode,
                        'Type__c': 			        item.typeDescription,
                        'Category_Code__c': 	    item.categoryCode,
                        'Category__c': 			    item.categoryDescription,
                        'Admin_Officer_ID__c': 	    if (!isEmpty(item.adminOfficerId)) item.adminOfficerId else "#N/A",
                        'Admin_Officer_Name__c':    if (!isEmpty(item.adminOfficerName)) item.adminOfficerName else "#N/A",
                        'Opened_Date__c': 		    if (!isBlank(item.openedDate)) item.openedDate else "2015-07-04T21:00:00Z",
                        'ActiveFlag__c': 		    item.activeFlag,
                        'Closed_Date__c': 		    if (!isEmpty(item.closedDate)) item.closedDate else "#N/A",
                        'ClosedFlag__c': 		    item.closedFlag,
                        'Customer_Description1__c': if (!isEmpty(item.line1)) item.line1 else "#N/A",
                        'Customer_Description2__c': if (!isEmpty(item.line2)) item.line2 else "#N/A",
                        'Customer_Description3__c': if (!isEmpty(item.line3)) item.line3 else "#N/A",
                        'Customer_Description4__c': if (!isEmpty(item.line4)) item.line4 else "#N/A",
                        'Statement_Date__c':        if (!isEmpty(item.statementDate)) item.statementDate else "#N/A",
						'PreviousAccountNumber__c':	item.PreviousAccountNumber,
                        'PreviousAccountNumberChangeDate__c':	item.PreviousAccountNumberChangeDate,
					    'Account_Date_Time__c': 	item.date
                    }
                    ]]>
                </ee:set-variable>
            </ee:variables >
        </ee:transform>

        <!-- <logger level="DEBUG" category="app" message="#[output application/json - payload]" /> -->

        <!-- ***********************************************
            Discover the records to create in TrustAccount
            *********************************************** -->
        <ee:transform doc:name="get the records to create" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
                    output application/java
                    ---
                    vars.payloadWithIds filter (isEmpty($.Id) )
                    ]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>

        <!-- <logger level="DEBUG" category="app" message="#[output application/json - payload]" /> -->

        <choice doc:name="Choice" >
            <when expression='#[ sizeOf(payload) > 0 ]'>

                <logger level="INFO" category="app" message="#['Records to create in Trust_Account__c: ' ++ sizeOf(payload) as String]" />

                <!-- *****************************************
                     Create AccountPerson Object in Salesforce 

                     Remove the null Id field in the records
                     ***************************************** -->
                <ee:transform doc:name="remove null ids" >
                    <ee:message >
                        <ee:set-payload ><![CDATA[%dw 2.0
                            output application/java
                            ---
                            payload map (items, index) -> (
                                items filterObject (value, key) -> value != null
                            )
                            ]]>
                        </ee:set-payload>
                    </ee:message>
                </ee:transform>

                <!-- <logger level="DEBUG" category="app" message="#[output application/json - payload]" /> -->
                <set-variable doc:name="set Salesforce object" variableName="salesforceObject" value="Trust_Account__c" />
                <set-variable doc:name="set operation" variableName="bulkOperation" value="insert"/>
                <set-variable doc:name="set externalIdField" variableName="externalIdField" value="Id"/>
                <flow-ref doc:name="run job" name="job-bulk"/>        
            </when>

        </choice>               


        <!-- *********************************************
            Get the records to update in Trust_Account__c
            ********************************************** -->
        <ee:transform doc:name="get the records to update Trust_Account__c" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
                output application/java
                ---
                vars.payloadWithIds filter ( $.Id != null )
                ]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>

        <!-- <logger level="DEBUG" category="app" message="#[output application/json - payload]" /> -->

        <choice doc:name="Choice" >
            <when expression='#[ sizeOf(payload) > 0 ]'>

                <logger level="INFO" category="app" message="#['Records to update in Trust_Account__c: ' ++ sizeOf(payload) as String]" />

                <set-variable doc:name="set Salesforce object" variableName="salesforceObject" value="Trust_Account__c" />
                <set-variable doc:name="set operation" variableName="bulkOperation" value="update"/>
                <flow-ref doc:name="run job" name="job-bulk"/>

            </when>
        </choice>

        <flow-ref doc:name="service response" name="service-response"/>

        <error-handler ref="global-error-handler" />
    </flow>
</mule>
